@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.animated-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #e5e5e5;
  opacity: 0;
  transform: scale(0.95);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.animated-title.show {
  opacity: 1;
  transform: scale(1);
}



/* Card styles */
.card {
  border-radius: 15px;
  background: linear-gradient(135deg, #1e1e2f, #28293d);
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: #b0b0b0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  padding: 20px;
  margin: 20px;
  width: 100%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}


.card-content {
  font-size: 16px;
  color: #b0b0b0;
}



.card-header {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-content {
  margin-top: 10px;
  color: #b0b0b0;
}

.card-divider {
  border-bottom: 1px solid #444;
  margin-top: 10px;
}

.card-footer {
  margin-top: 10px;
  font-size: 14px;
  color: #999;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background: #2c2c3b;
  color: white;
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #00ffaa;
  box-shadow: 0px 0px 5px rgba(0, 255, 170, 0.5);
}

/* Button Styling */
.btn-submit {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: white;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s ease-in-out;
}

.btn-submit:hover {
  background: linear-gradient(to right, #ff4b2b, #ff416c);
}