nav {
  padding-left: 10px;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  padding: 25px;
}

nav a {
  padding: 10px;
  margin-right: 50px;
  font-size: 20px;
  text-decoration: none;
  justify-content: center;
  flex: content;
}

nav a.active {
  text-decoration: none;
  font: bold;
  background-color: rgb(239, 217, 239);
  border-radius: 10px;
}

/* .shopping-cart {
  width: 100px;
  height: 100px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
} */
